/* ------------------> hero */
#conference .carousel-inner{ 
  max-height: 80vh;
  object-fit: cover;
  
  

}
#carousel{
  position: relative;
  z-index: 1;
}
#carousel .overlay{
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, .5);

}
#carousel .overlay .container,
#carousel .overlay .row{
height: 100%;
}

/* Custom */

/* Buttons  */
.btn-Lion{
  background-color:#3ca5d1;
  color: white;
}

.btn-Lion:hover{
  background-color: #1991b3;
}

/* txt */

.text-Leion{
  color: #1991b3 !important;

}
/*------------------> /hero */

/*------------------> Speakers */

.card-footer{
  background-color: transparent;
}

.card-footer a{
  text-decoration: none;
  color: #999999;
}

.card-footer .card-footer-github a:hover{
  text-decoration: none;
  color: black;
}

.card-footer .card-footer-twitter a:hover{
  text-decoration: none;
  color: #00acee;
}

.card-footer .card-footer-instagram a:hover{
  text-decoration: none;
  color: rgba(248,80,50,1);
}

.card-footer .card-footer-facebook a:hover{
  text-decoration: none;
  color: #3b5999;
}


/* Coustom */

/* Badges */
.badge-women{
  background-color: palevioletred;
  color: white;
}

.badge-js{
  background-color: #FBBC05;
  color: white;
}

.badge-game{
  background-color: #0F7DC2;
  color: white;
}

.badge-ai{
  background-color: #006699;
  color: white;
}

.badge-cshart{
  background-color: #7B0099;
  color: white;
}

.badge-android{
  background-color: #A4C639;
  color: white;
}

.badge-java{
  background-color: #b07219;
  color: white;
}

.badge-ar{
  background-color: #427819;
  color: white;
}

.badge-php{
  background-color: #4F5D95;
  color: white;
}

.badge-startups{
  background-color: red;
  color: white;
}



/*------------------> /Speakers */

/*------------------> Media query */
@media (max-width: 480px) {

.conference-title h1{
  font-size: 2em;
}

.conference-description{
  font-size: .9em;
}
}

@media (max-width: 320px) {

.overlay button{
    margin-top: .5em;
  } 
}

/*------------------> /Media query */

/*------------------> Assets */

/* Icons */
@font-face {
  font-family: 'icomoon';
  src:  url('/assets/icomoon.eot?tic8fo');
  src:  url('/assets/fonts/icomoon.eot?tic8fo#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?tic8fo') format('truetype'),
    url('/assets/fonts/icomoon.woff?tic8fo') format('woff'),
    url('/assets/fonts/icomoon.svg?tic8fo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}

/*------------------> /Assets */